<ion-header >
 
    <ion-navbar color="primary">
      <button ion-button menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>

       <ion-title style= "text-align: center"> Go eats </ion-title>
      <ion-buttons end>
        <button ion-button icon-only  (click)="irCarrito()">
          <ion-icon name="cart"></ion-icon>
          <ion-badge class="carrito-numero" color="danger" *ngIf="_cs.elementos.length > 0">
            {{_cs.elementos.length}}</ion-badge>
          <!-- devuelve la longitud del arreglo, para ver cuantos items hay en el carro -->
        </button>
      </ion-buttons>
    </ion-navbar>
 

</ion-header>

<ion-content  class='fondo-page'>


<!-- <ion-item class="carta" > -->
  <ion-card class='carta' *ngFor= "let tipo of _pS.por_tipo"
            [navPush]= 'PorTipo' [navParams]="{'id' : tipo}" >
    <img [src]='tipo.por_tipo | imagenPipe'/>
    <div class="card-title">{{ tipo.por_tipo | titlecase}}</div>
    <div class="card-subtitle"> Nuevos platillos cada semana</div>
  </ion-card>
<!-- </ion-item> -->



</ion-content>
