page-registro {
    .fondo2{
        color:white;
        background-color: #2ecc71;
      }
    
    .cate{
        font-size: 30px;
        text-align: center;
        margin-left: 50%;
    }
    .icono{
        color:white;
        background-color: #2ecc71
    }
    

}
